- var imageWidth=64;
- var imageHeigth=64;
- var canvasWidth=imageWidth*6; // 5 notes and 1 for margin
- var canvasHeight=imageHeigth*8;
- var layerStyle='width:'+(canvasWidth+20)+'px;margin:10px auto;padding:0px;height:'+(canvasHeight+20)+'px;';
//
div.mainPlayerCanvas(canvas-midi-main="canvasId", canvas-main-height=canvasHeight, style=layerStyle)
  canvas.baseMidiCanvas(id="{{canvasId}}Base"     ,canvas-midi-base    ,width=canvasWidth,height=canvasHeight,style="position:absolute;top:0px;left:0px;z-index:0")
  canvas.notesCanvas(   id="{{canvasId}}Notes"    ,canvas-midi-notes   ,width=canvasWidth,height=canvasHeight,style="position:absolute;top:0px;left:0px;z-index:1")
  canvas(               id="{{canvasId}}UserInput",canvas-midi-user    ,width=canvasWidth,height=canvasHeight,style="position:absolute;top:0px;left:0px;z-index:2")

//
  .col-md-12
  canvas.baseMidiCanvas(id="aaa",canvas-midi-base,width=canvasWidth,height=canvasHeight)
