extends ../../../layouts/gameLayout.jade

//header
block header
  | Playing. Use Mouse or Keyboard(12345) to hit dropping notes

//content
block content
  // var divStyle='text-align:center;border:1px dashed red;';
  div.col-md-12.col-sm-12
    pre Global Score= {{globalScore}}
  div.col-md-4.col-sm-12(canvas-midi="instrument1",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-4.col-sm-12(canvas-midi="instrument2",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-4.col-sm-12(canvas-midi="instrument3",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-2.col-sm-6(style=divStyle)
    img(src='assets/images/guitar.jpg' style="width: 90%; height: 90%")
  div.col-md-2.col-sm-6(style=divStyle)
    video(id='video1', ng-src='{{$root.pMBlocalStream}}' autoplay='autoplay' height="100px" width="100px")
  div.col-md-2.col-sm-6(style=divStyle)
    img(src='assets/images/bass.jpg' style="width: 90%; height: 90%")
  div.col-md-2.col-sm-6(style=divStyle)
    video(id='video2',ng-src='{{$root.pMBlocalStream}}' autoplay='autoplay' height="100px" width="100px")
  div.col-md-2.col-sm-6(style=divStyle)  
    img(src='assets/images/drums.jpg' style="width: 90%; height: 90%")
  div.col-md-2.col-sm-6(style=divStyle)
    video(id='video3',ng-src='{{$root.pMBlocalStream}}' autoplay='autoplay' height="100px" width="100px")