extends ../../layouts/gameLayout.jade

//header
block header
  | Playing. Use Mouse or Keyboard(12345) to hit dropping notes

//content
block content
  // var divStyle='text-align:center;border:1px dashed red;';
  div.col-md-12.col-sm-12
    pre Global Score= {{globalScore}}
  div.col-md-4.col-sm-12(canvas-midi="instrument1",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-4.col-sm-12(canvas-midi="instrument2",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-4.col-sm-12(canvas-midi="instrument3",canvas-midi-audio="pMBsongAudio",canvas-midi-debug="!serverRuntime",canvas-midi-delta-zero="deltaZeroMidi",canvas-song-delay="pMBsecondsInAdvance",style=divStyle)
  div.col-md-4.col-sm-12(style=divStyle)
    img(src='assets/images/guitar.jpg')
  div.col-md-4.col-sm-12(style=divStyle)
    img(src='assets/images/bass.jpg')
  div.col-md-4.col-sm-12(style=divStyle)  
    img(src='assets/images/drums.jpg')



//
  - var divStyle=''; 
  .col-md-12
      h1.page-header(ng-controller='PlayingCtrl') Playing, GlobalScore={{globalScore}}

      div.col-md-4.col-sm-12(canvas-midi="instrument1",style=divStyle)
      div.col-md-4.col-sm-12(canvas-midi="instrument2",style=divStyle)
      div.col-md-4.col-sm-12(canvas-midi="instrument3",style=divStyle)
      div.col-md-12.col-sm-12
        pre Global Score= {{globalScore}}
