- var imageWidth=64;
- var imageHeigth=64;
- var canvasWidth=imageWidth*6; // 5 notes and 1 for margin
- var canvasHeight=imageHeigth*4;
.col-md-12()
    h1.page-header This is the canvas view.
    canvas.col-md-6(canvas-midi="",id="mainPlayerCanvas",width=canvasWidth,height=canvasHeight)
    canvas.col-md-6(id="otherPlayerCanvas",width=canvasWidth,height=canvasHeight)
    
